.social-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0 3rem 0;
}

.social-box2 {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0 3rem 0;
    display: none;
}

.social-item {
    width: 15%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1.0);
    box-shadow: 0 0 5px 1px rgba(206, 59, 40, .2);
    transition: .5s;
}

.social-item2 {
    width: 32%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1.0);
    box-shadow: 0 0 5px 1px rgba(206, 59, 40, .2);
    transition: .5s;
}

.social-item:hover,
.social-item2:hover {
    background-color: rgba(240, 240, 240, 1.0);
}

.social-item img {
    /*padding: 2rem 4rem 1rem 4rem;*/
    padding: 1.5rem 0 1rem 0;
    width: 33%;
}

.social-image2 {
    width: 33%;
}

.social-item2 img {
    /*padding: 2rem 4rem 1rem 4rem;*/
    padding: 0;
    width: 40%;
}

.social-item a {
    font-size: 1.1rem;
    text-decoration: none;
    transition: .5s;
    color: rgba(0, 0, 0, .8);
}

.social-item2 a {
    font-size: 1.1rem;
    text-decoration: none;
    transition: .5s;
    color: rgba(0, 0, 0, .8);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.social-text {
    padding-bottom: 1rem;
}

.social-text2 {
    padding: 1rem 0;
    width: 66%;
    text-align: left;
}

.social-text span {
    color: rgba(206, 59, 40, 1.0);
    width: 100%;
    text-align: center;
    display: inline-block;
}

.social-text2 span {
    color: rgba(206, 59, 40, 1.0);
    width: 100%;
    text-align: left;
    display: inline-block;
}

.contacts-form {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    flex-wrap: wrap;
}

.contacts-item {
    width: 23%;
}

.form-control {
    width: 100%;
    padding: 0;
}

.form-control input {
    width: 100%;
    padding: .75rem;
    margin-bottom: 1rem;
    font-family: 'Suedtirol Pro', Arial, sans-serif;
    font-size: 1.1rem;
    color: rgba( 0, 0, 0, .8);
    border: 1px solid rgba(0, 0, 0, .2);
    outline: none;
}

.form-control textarea {
    width: 100%;
    padding: .75rem;
    margin-bottom: 1rem;
    font-family: 'Suedtirol Pro', Arial, sans-serif;
    font-size: 1.1rem;
    color: rgba( 0, 0, 0, .8);
    border: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    height: 7rem;
}

.form-control button {
    width: 100%;
    height: 100%;
    font-family: 'Suedtirol Pro', Arial, sans-serif;
    font-size: 1.1rem;
    color: rgba( 255, 255, 255, 1);
    background-color: rgba(206, 59, 40, .8);
    border: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    padding: .75rem;
    cursor: pointer;
    transition: .5s;
}

.form-control button:hover {
    background-color: rgba(206, 59, 40, 1);
}

.vacations-text {
    padding: 1rem;
}

.vacations-text p {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, .8);
    padding-bottom: .5rem;
}

.form-control-checkbox {
    width: 100%;
    padding: 1rem;
    cursor: pointer;
}

.form-control-checkbox:hover label {
    color: rgba(0, 0, 0, 1);
}

.form-control-checkbox label {
    color: rgba(0, 0, 0, .75);
    transition: .5s;
    cursor: pointer;
    margin-left: .5rem;
}

.fa-contacts {
    font-size: 4rem;
    color: tomato;
    position: absolute;
    top: 39%;
    left: 42%;
}

.contacts-bg {
    width: 100%;
    background-color: rgba(255, 255, 255, 1.0);
    padding: 2.5rem 0;
}

@media only screen and (max-width : 1200px) {

    .contacts-bg {
        padding: calc(1rem + (2.5 - 1) * ((100vw - 20rem) / (75 - 20))) 0;
    }

    .social-box {
        padding:
                calc(.5rem + (1 - .5) * ((100vw - 20rem) / (75 - 20)))
                0
                calc(0rem + (3 - 0) * ((100vw - 20rem) / (75 - 20)))
                0;
    }

    .social-item a {
        font-size: calc(1rem + (1.1 - 1) * ((100vw - 20rem) / (75 - 20)));
    }

    .vacations-text {
        padding:
                calc(0rem + (1 - 0) * ((100vw - 20rem) / (75 - 20)))
                1rem
                calc(0rem + (1 - 0) * ((100vw - 20rem) / (75 - 20)))
                1rem;
    }

    .vacations-text p {
        font-size: calc(1rem + (1.1 - 1) * ((100vw - 20rem) / (75 - 20)));
    }

    .form-control input, .form-control textarea, .form-control button {
        padding: calc(.5rem + (.75 - .5) * ((100vw - 20rem) / (75 - 20)));
        margin-bottom: calc(.66rem + (1 - .66) * ((100vw - 20rem) / (75 - 20)));
        font-size: calc(1rem + (1.1 - 1) * ((100vw - 20rem) / (75 - 20)));
    }

    .form-control textarea {
        height: calc(5rem + (7 - 5) * ((100vw - 20rem) / (75 - 20)));
    }
}

@media only screen and (max-width : 1000px) {

    .social-box {
        display: none;
    }

    .social-box2 {
        display: flex;
    }

    .social-item2 {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width : 800px) {
    .contacts-item {
        width: 48%;
    }
}

@media only screen and (max-width : 700px) {

    .social-box {
        display: flex;
    }

    .social-box2 {
        display: none;
    }

    .social-item {
        width: 30%;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width : 500px) {

    .social-box {
        display: none;
    }

    .social-box2 {
        display: flex;
    }

    .social-item2 {
        width: 48%;
        margin-bottom: 1rem;
    }

    .social-image2 {
        width: 25%;
    }

    .social-image2 img {
        width: 55%;
    }

    .social-text2 {
        width: 75%;
    }
}

@media only screen and (max-width : 420px) {
    .social-box {
        display: flex;
    }

    .social-box2 {
        display: none;
    }

    .social-item {
        width: 47%;
    }

    .social-image img {
        width: 30%;
        padding: 1rem 0 .5rem 0;
    }
}


@media only screen and (max-width : 400px) {
    .contacts-item {
        width: 100%;
    }
}

